/*--------------Utils-----------------*/
@import './Utils/Normalizer.css';
@import './Utils/Variables.css';
@import './Utils/Fonts.css';

/*--------------Template-----------------*/
@import './Template/Template.css';

/*--------------Layout-----------------*/
@import './Layout/LayoutPublic.css';
@import './Layout/Header.css';
@import './Layout/Footer.css';

/*--------------Pages-----------------*/
@import './Pages/Home.css';
@import './Pages/Login.css';
@import './Pages/Register.css';
@import './Pages/Maps.css';
@import './Pages/ForgotPassword.css';
@import './Pages/History.css';
@import './Pages/TermsOfService.css';
@import './Pages/AccountSettings.css';


/*--------------Components-----------------*/
@import './Components/Loader.css';
@import './Components/Toast-custom.css';