.loader-content {
    --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.loader-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.loader-spinner {
    width: 50px;
    height: 50px;
    color: white;
    margin-bottom: 20px;
}

.loader-container h2 {
    font-size: 24px;
    font-weight: 300;
}