.modern-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2B2D29;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.modern-loader.fade-out {
    opacity: 0;
}

.loader-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #2B2D29;
}