.login-container {
    max-width: 400px;
    margin: 50px auto;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.login-container ion-input {
    margin-bottom: 20px;
}

.login-container ion-button {
    margin-top: 20px;
}